body{
	background-color: #FAFAFA
}
#container{
	width: 1080px;
	font-family: 'Arial', 'Calibri', serif, sans-serif;
}
/*----------------------------------------------------*/
#header{
	height:100px;
	margin-bottom:20px;
}
	#header ul{
		text-align: center;
		margin: 0px;
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-color: #E6E6E6;
		border-spacing: 10px;
		display: inline-block;
		width: 390px;
		padding: 0px 0px 15px 0px;
		vertical-align: top;
		background-color: #F8F8F8;
	}
		#header ul li{
				list-style-type: none;
				display: inline-block;
			}
				#header ul li a{
					text-decoration: none;
					color: #9597A4;
					background-color: #F8F8F8;

			}
	#header img{
		padding-bottom: 10px;
		vertical-align: middle;
	}
	#header input{
		vertical-align: top;
		background: linear-gradient(#45C3FE, #157DBC);
		color: #FFFFFF;
		border-radius:7px;
	}
	.logo{
		display: inline-block;
		width:590px;
		height: 100px;
		margin-top: 10px;
	}
	.logo img{
		vertical-align: middle;
	}
	.logo h1{
		font-size: 45px;
		display: inline-block;
		vertical-align: middle;
	}
	.word{
		color: #838385;
		font-weight: lighter;
	}
	.stream{
		color: #28799C;
		font-weight: lighter;
	}
/*----------------------------------------------------*/
#sidenav{
	width: 260px;
	display: inline-block;
	vertical-align: top;
	margin-top: 45px;
}
	.ppc input{
		width: 260px;
		text-align: center;
		height: 40px;
		color: #FFFFFF;
		font-size: 24px;
		border-radius: 8px;
		font-weight: bolder;
	}
		.wordstream-sidebar-title{
			color: #487BB1;
			font-size: 22px;
		}
		.drive-profit{
			color: #C45149;
			font-weight: bold;
		}
		.schedule-demo{
			background: linear-gradient(#2FA0E5, #2B99DF);
		}
		.free-trial{
			background: linear-gradient(#F99C1B, #E24700);
		}
		.no-cc-req{
			text-align: center;
		}
		.adwords-performance{
			font-weight: bold;
			color: #2C6693;
			font-size: 22px;
		}
		.free-report{
			font-weight: bold;
			color: #4A4A4A;
		}
	.ad{
		background:url(left_content_ad1.png) no-repeat;
		background-size: 100% 100%;
		height: 375px;
		padding: 5px 10px;
	}
	#graded{
		text-align: center;
	}
		#graded input{
		width: 240px;
		background: linear-gradient(#2A74AD, #1A5C92, #2A74AD);
		color: #FFFFFF;
		text-align: center;
		border-radius: 5px;
		height: 40px;
		font-size: 18px
	}
/*----------------------------------------------------*/
#body{
	width: 780px;
	display: inline-block;
	margin-left: 30px;
}
	#body p, li{
		font-size: 14.5px;
		line-height: 155%;
	}
	#body ul{
		padding-left: 0px;
		list-style-type: none;
	}
.home-button{
	width: 478px;
	display: inline-block;
	vertical-align: top;
}
	.bluetext{
		color: #669AC5;
	}
.phone{
	height: 62px;
	vertical-align: top;
}
.number{
	font-size: 36px;
	font-weight: bold;
	color: #3AB3ED;
}
.contact{
	width: 225px;
	display: inline-block;
	text-align: right;
}
.ad2{
	border: 5px solid #8DBAD1;
	width: 800px;
}
.ad2 img{
	height: 120px;
	vertical-align: top;
}
	.profits{
		width: 700px;
		display: inline-block;
		vertical-align: top;
	}
		.profits input{
			height: 40px;
			width: 250px;
			background-color: #91B307;
			color: #FFFFFF;
			border-radius: 7.5px;
			font-size: 24px;
			margin: 10px;
		}
		.profits span{
			font-size: 18px;
			line-height: 150%;
		}
/*----------------------------------------------------*/
h2{
	background: linear-gradient(#1173B7, #147CC3, #1173B7);
	color: #FFFFFF;
	margin: 0px 0px 30px 0px;
	padding: 19px;
	font-size: 28px;
	font-weight: lighter;
}
h3{
	font-size: 25px;
	margin: 0px 0px 5px 0px;
}
h1, h3, h4, h5{
	color: #236EAD;
}

.bold{
	font-weight: bold;
}
.dot{
	color: #2372A2;
}